In [1]:
import pandas as pd
from math import sqrt
import numpy as np
import matplotlib.pyplot as pyplot
%matplotlib inline

In [7]:
data = pd.read_csv('17_data.csv')
data

,IDSTUD,MP61026,MP61273,MP61034,MP61040,MP61228,MP61166,MP61171,MP61080,MP61222,...,MP61027,MP61255,MP61021,MP61043,MP61151,MP61172,MP61223,MP61269,MP61081A,MP61081B
0,50030203,1,1,1,1,1,1,1,1,1,...,-1,-1,1,1,1,1,1,1,1,1
1,50030211,1,1,1,-1,-1,1,1,1,1,...,1,-1,1,-1,1,-1,1,1,1,1
2,50040408,1,1,-1,1,-1,1,1,1,1,...,1,1,-1,1,1,1,1,1,-1,-1
3,50040416,1,-1,-1,1,-1,1,1,1,-1,...,-1,-1,-1,1,1,1,1,-1,-1,-1
4,50040424,1,1,1,-1,-1,1,1,1,1,...,1,1,-1,1,1,-1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194,51680206,1,1,-1,1,-1,1,1,-1,1,...,1,-1,-1,1,0,-1,1,1,-1,0
195,51680214,1,1,1,1,-1,1,1,1,-1,...,1,1,1,1,1,1,1,1,1,1
196,51690506,1,1,-1,-1,-1,1,1,1,1,...,-1,1,-1,1,1,1,1,1,1,-1
197,51690514,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
198,51690522,1,1,-1,1,-1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,-1